# Ignora arquivos desnecessários
*__pycache__*
*.idea*
*.pyc
.idea/
lab/
scripts/asetup_results/
scripts/asetup_figures/
scripts/asetup_trials/
overmind/userdata/
overmind/build/
overmind/dist/
overmind/overmind.egg-info
overmind/requirements_new.txt
overmind/requirements_pip.txt
