# Ignora arquivos desnecessários
*__pycache__*
*.idea*
*.pyc
.idea/
lab/
scripts/as_results/
scripts/as_figures/
overmind/userdata/
overmind/build/
overmind/dist/
overmind/overmind.egg-info
overmind/requirements_new.txt
overmind/requirements_pip.txt
